<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
</script>
</head>

<body>
<div th:insert="fragments/commonui :: userhead "></div>
<div th:insert="fragments/commonui :: usermenu "></div>

	<div class="container">
		<div class="card">
			<div class="card-header text-white text-center" style="background-color: #1E90FF;">
				<h3>Welcome To Upload Document Page</h3>
			</div>


			<div class="card-body ">
				<form id="document" th:action="@{/document/save}" method="post"
					enctype="multipart/form-data">


					<!-- ROW-1 -->
					<div class="row">
						<div class="col-4">
							<label for="">FILE ID</label>
						</div>
						<div class="col-4">
							<input type="text" id="fileId" name="fileId" class="form-control" />
						</div>
						<div class="col-4">
							<span id="fileIdError"></span>
						</div>
					</div>
					<br>


					<!-- ROW-2 -->
					<div class="row">
						<div class="col-4">
							<label for="fileOb">SELECT FILE</label>
						</div>
						<div class="col-4">
							<input type="file" id="fileOb" name="fileOb"
								class="form-control bg-info text-white"
								accept=".jpg,.jpeg,.doc,.docx,.zip" />
						</div>
						<div class="col-4">
							<span id="fileObError"></span>
						</div>
					</div>
					<br>
					

					<div class="row">
						<div class="col-4"></div>
						<div class="col-4">
							<input type="submit" value="Upload" class="btn btn-success">
							<input type="reset" value="Cancel" class="btn btn-danger">
						</div>
					</div>
				</form>
			</div>


			<div class="card-footer text-white text-center" style="background-color: #7a2048;">
				<span th:text="${msg}"></span>
			</div>
		</div>
	</div>
	<script>
        $(document).ready(function () {

            $("#fileIdError").hide();
            $("#fileObError").hide();

            var fileIdError = false;
            var fileObError = false;

            $("#fileId").keyup(function () {
                validate_fileId();
            });
            $('input[type="file"][name="fileOb"]').change(function () {
                validate_fileOb(this.files[0]);
            });

            function validate_fileId() {
                var val = $("#fileId").val();
                var exp = /^[1-9][0-9]*$/;

                if (val == '') {
                    $("#fileIdError").show();
                    $("#fileIdError").html("Enter <b>File Id</b>");
                    $("#fileIdError").css("color", "red");
                    fileIdError = false;
                } else if (!exp.test(val)) {
                    $("#fileIdError").show();
                    $("#fileIdError").html("Not a valid <b>File Id</b>");
                    $("#fileIdError").css("color", "red");
                    fileIdError = false;
                } else {
                    $("#fileIdError").hide();
                    fileIdError = true;
                }
                return fileIdError;
            }


            function validate_fileOb(ob) {
                //here ob contains all file details
                var fname = ob.name;
                var fsize = ob.size; //bytes 1024 = 1KB
                var fext = fname.substring(fname.lastIndexOf(".") + 1);
                //alert(fname);  alert(fsize); alert(fext);
                var allowedExt = ["jpg", "jpeg", "doc", "docx", "zip"];
                if ($.inArray(fext, allowedExt) == -1) {
                    $("#fileObError").show();
                    $("#fileObError").html("Choose <b>Valid File :" + allowedExt + " only</b>");
                    $("#fileObError").css("color", "red");
                    fileObError = false;
                } else if (fsize <= 1024 * 2) { //Min size 2 KB
                    $("#fileObError").show();
                    $("#fileObError").html("<b>Size less then 2KB</b>");
                    $("#fileObError").css("color", "red");
                    fileObError = false;
                } else if (fsize > 1024 * 100) { //100KB
                    $("#fileObError").show();
                    $("#fileObError").html("<b>Size exceeds 100KB</b>");
                    $("#fileObError").css("color", "red");
                    fileObError = false;
                } else {
                    $("#fileObError").hide();
                    fileObError = true;
                }
                return fileObError;
            }
            
            function validate_fileObRequeired(){
                var val = $("#fileOb").val();
                if (val =='') {
                    $("#fileObError").show();
                    $("#fileObError").html("Choose <b>One File</b>");
                    $("#fileObError").css("color", "red");
                    fileObError = false;
                }
                return fileObError;
            }

            $("#document").submit(function () {
                validate_fileId();
                validate_fileObRequeired();
                if (fileIdError && fileObError)
                    return true;
                else
                    return false;
            });
        });
    </script>
</body>
</html>