<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script type="text/javascript" th:src="@{/js/orderMethod.js}"></script>
</head>


<body>
<div class="container">

<div class="card-header text-white text-center bg-info">
	<h3>Welcome To OrderMethod Register Page</h3>
</div>


<div class="card-body">
	<form th:action="@{/ordermethod/save}" method="post" id="orderMethod" th:object="${order}">



<div class="row">
<div class="col-4 ">
<label for="order_Mode">ORDER MODE</label>
</div>
<div class="col-4">
<input type="radio" th:field="*{order_Mode}" value="sale">SALE
<input type="radio" th:field="*{order_Mode}" value="purchase">PURCHASE
</div>
<div class="col-4">
<span id="orderModeError"></span>
</div>
</div>


<div class="row">
<div class="col-4 ">
<label for="order_Code">ORDER CODE</label>
</div>
<div class="col-4">
<input type="text" th:field="*{order_Code}" class="form-control"/>
</div>
<div class="col-4">
<span id="orderCodeError"></span>
</div>
</div>


<div class="row">
<div class="col-4 ">
<label for="order_Method">ORDER METHOD</label>
</div>
<div class="col-4">
<select th:field="*{order_Method}" class="form-control">
					<option value="">--SELECT--</option>
					<option value="fifo">FIFO</option>
					<option value="lifo">LIFO</option>
					<option value="fcfo">FCFO</option>
					<option value="FEFO">FEFO</option>
			    </select>
</div>
<div class="col-4">
<span id="orderMrthodError"></span>
</div>
</div>


<div class="row">
<div class="col-4 ">
<label for="order_Accept">ORDER ACCEPT</label>
</div>
<div class="col-4">
<input type="checkbox" th:field="*{order_Accept}" value="multi-accept">MULTI-ACCEPT
<input type="checkbox" th:field="*{order_Accept}" value="accept-return">ACCEPT RETURN
</div>
<div class="col-4">
<span id="orderAcceptError"></span>
</div>
</div>


<div class="row">
<div class="col-4 ">
<label for="description">DESCRIPTION</label>
</div>
<div class="col-4">
			<textarea th:field="*{description}" class="form-control"></textarea>
</div>
<div class="col-4">
<span id="descriptionError"></span>
</div>
</div>			
		
		
<br>
<div class="row">
<div class="col-4"></div>
<div class="col-4 " >
				<input type="submit" value="Create" class="btn btn-success">
				<input type="reset" value="Cancel" class="btn btn-danger">

</div>
</div>
</form>
</div>


<div class="card-footer bg-secondary text-center text-white">
	<span th:text="${msg }"></span>
</div>
</div>
</body>
</html>