<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>


<body>
	<div th:insert="fragments/commonui :: userhead "></div>
	<div th:insert="fragments/commonui :: usermenu "></div>
	<script type="text/javascript" th:src="@{/js/orderMethod.js}"></script>

	<div class="container">
		<div class="card">
			<div class="card-header text-white text-center "
				style="background-color: #1E90FF;">
				<h3>Welcome To OrderMethod Register Page</h3>
			</div>


			<div class="card-body">
				<form id="orderMethod" th:action="@{/ordermethod/save}"
					method="post" th:object="${order}">


					<!-- Row-1 -->
					<div class="row">
						<div class="col-4 ">
							<label for="order_Mode">ORDER MODE</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{order_Mode}" value="sale">SALE
							<input type="radio" th:field="*{order_Mode}" value="purchase">PURCHASE
						</div>
						<div class="col-4">
							<span id="orderModeError"></span>
						</div>
					</div>

					
					<!-- Row-2 -->
					<div class="row">
						<div class="col-4 ">
							<label for="order_Code">ORDER CODE</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{order_Code}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="orderCodeError"></span>
						</div>
					</div>


					<!-- Row-3 -->
					<div class="row">
						<div class="col-4 ">
							<label for="order_Method">ORDER METHOD</label>
						</div>
						<div class="col-4">
							<select th:field="*{order_Method}" class="form-control">
								<option value="">--SELECT--</option>
								<option value="fifo">FIFO</option>
								<option value="lifo">LIFO</option>
								<option value="fcfo">FCFO</option>
								<option value="FEFO">FEFO</option>
							</select>
						</div>
						<div class="col-4">
							<span id="orderMrthodError"></span>
						</div>
					</div>


					<!-- Row-4 -->
					<div class="row">
						<div class="col-4 ">
							<label for="order_Accept">ORDER ACCEPT</label>
						</div>
						<div class="col-4">
							<input type="checkbox" th:field="*{order_Accept}"
								value="multi-accept">MULTI-ACCEPT <input type="checkbox"
								th:field="*{order_Accept}" value="accept-return">ACCEPT
							RETURN
						</div>
						<div class="col-4">
							<span id="orderAcceptError"></span>
						</div>
					</div>


					<!-- Row-5 -->
					<div class="row">
						<div class="col-4 ">
							<label for="description">DESCRIPTION</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="descriptionError"></span>
						</div>
					</div>


					<br>
					<div class="row">
						<div class="col-4"></div>
						<div class="col-4 ">
							<input type="submit" value="Create" class="btn btn-success">
							<input type="reset" value="Cancel" class="btn btn-danger">

						</div>
					</div>
				</form>
			</div>


			<div class="card-footer text-center text-white" style="background-color: #7a2048;">
				<span th:text="${msg }"></span>
			</div>
		</div>
	</div>
</body>
</html>