<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<div th:insert="fragments/commonui :: userhead "></div>
	<div th:insert="fragments/commonui :: usermenu "></div>
	<div id="dp-container">
		<div class="container">
		<div class="card">
		
			<div class="card-header text-white text-center "
				style="background-color: #1E90FF;">
				<h3>Welcome To SaleOrder Registration Page</h3>
			</div>
			<div class="card-body">

				<form id="sorder" th:action="@{/sorder/save}" method="post"
					th:object="${sorder}">



					<div class="row ">
						<div class="col-4 ">
							<label for="sorder_Code">ORDER CODE</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{sorder_Code}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="orderCodeError"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-4">
							<label>SHIPMENT CODE</label>
						</div>
						<div class="col-4">
							<select th:field="*{shipmentType.ship_id}" id="shipmentType" class="form-control">
								<option value="">SELECT</option>
								<option th:each="ob:${shipmentTypes}" th:value="${ob.key}" th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-6">
							<span id="shipmentTypeError"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-4">
							<label>CUSTOMER</label>
						</div>
						<div class="col-4">
							<select th:field="*{customer.user_Type_Id}" id="customer" class="form-control">
								<option value="">SELECT</option>
								<option th:each="ob:${whUserTypes}" th:value="${ob.key}" th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-4">
							<span id="WhUserTypeError"></span>
						</div>
					</div>


					<div class="row">
						<div class="col-4 ">
							<label for="reference_No">REFERENCE NO</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{reference_No}"
								class="form-control" />
						</div>
						<div class="col-4">
							<span id="refCodeError"></span>
						</div>
					</div>




					<div class="row">
						<div class="col-4 ">
							<label for="stock_Mode">STOCK MODE</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{stock_Mode}" value="grade">GRADE
							<input type="radio" th:field="*{stock_Mode}" value="margin">MARGIN
						</div>
						<div class="col-4">
							<span id="gradeModeError"></span>
						</div>
					</div>

					<div class="row">
						<div class="col-4 ">
							<label for="stock_Source">STOCK SOURCE</label>
						</div>
						<div class="col-4">
							<select th:field="*{stock_Source}" class="form-control">
								<option value="">--SELECT--</option>
								<option value="open">OPEN</option>
								<option value="avil">AVIL</option>
								<option value="refund">REFUND</option>
							</select>
						</div>
						<div class="col-4">
							<span id="stockModeError"></span>
						</div>
					</div>


					<div class="row">
						<div class="col-4 ">
							<label for="status">DEFAULT STATUS</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{status}"
								th:value="${sorder.setStatus('SALE-OPEN')}" class="form-control"
								readOnly="readonly" />
						</div>
						<div class="col-4"></div>
					</div>




					<div class="row">
						<div class="col-4 ">
							<label for="description">DESCRIPTION</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="desError"></span>
						</div>
					</div>


					<br>
					<div class="row">
						<div class="col-4"></div>
						<div class="col-4 ">
							<input type="submit" value="Create" class="btn btn-success">
							<input type="reset" value="Cancel" class="btn btn-danger">

						</div>
					</div>


				</form>

				</div>
				<div class="card-footer text-white text-center"
					style="background-color: #7a2048;">
					<span th:text="${msg}"></span>
			</div>
		</div>
	</div>
	</div>
</body>
</html>