<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:insert="fragments/commonui :: userhead "></div>
<div th:insert="fragments/commonui :: usermenu "></div>
	
	<div class="container">
	<div class="card">
		<div class="card-header text-white text-center" style="background-color: #1E90FF;">
			<h3>Welcome To SaleOrder Edit Page</h3>
		</div>

		<div class="card-body">
			<form id="sorder" th:action="@{/sorder/update}" method="post"
				th:object="${sorder}">


				<div class="row">
					<div class="col-4 ">
						<label for="sorder_Code">ORDER ID</label>
					</div>
					<div class="col-4">
						<input type="text" th:field="*{sorder_Id}" class="form-control" readOnly="readonly"/>
					</div>
					<div class="col-4">
					</div>
				</div>
				

				<div class="row">
					<div class="col-4 ">
						<label for="sorder_Code">ORDER CODE</label>
					</div>
					<div class="col-4">
						<input type="text" th:field="*{sorder_Code}" class="form-control" />
					</div>
					<div class="col-4">
						<span id="orderCodeError"></span>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-4 ">
						<label for="reference_No">REFERENCE NO</label>
					</div>
					<div class="col-4">
						<input type="text" th:field="*{reference_No}" class="form-control" />
					</div>
					<div class="col-4">
						<span id="refCodeError"></span>
					</div>
				</div>
				
				
				

				<div class="row">
					<div class="col-4 ">
						<label for="stock_Mode">STOCK MODE</label>
					</div>
					<div class="col-4">
						<input type="radio" th:field="*{stock_Mode}" value="grade">GRADE
						<input type="radio" th:field="*{stock_Mode}" value="margin">MARGIN
					</div>
					<div class="col-4">
						<span id="gradeModeError"></span>
					</div>
				</div>
				
				<div class="row">
					<div class="col-4 ">
						<label for="stock_Source">STOCK SOURCE</label>
					</div>
					<div class="col-4">
						<select th:field="*{stock_Source}" class="form-control">
							<option value="">--SELECT--</option>
							<option value="open">OPEN</option>
							<option value="avil">AVIL</option>
							<option value="refund">REFUND</option>
						</select>
					</div>
					<div class="col-4">
						<span id="stockModeError"></span>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-4 ">
						<label for="status">DEFAULT STATUS</label>
					</div>
					<div class="col-4">
						<input type="text" th:field="*{status}" class="form-control" readOnly="readonly" />
					</div>
					<div class="col-4"></div>
				</div>

			


				<div class="row">
					<div class="col-4 ">
						<label for="description">DESCRIPTION</label>
					</div>
					<div class="col-4">
						<textarea th:field="*{description}" class="form-control"></textarea>
					</div>
					<div class="col-4">
						<span id="desError"></span>
					</div>
				</div>


				<br>
				<div class="row">
					<div class="col-4"></div>
					<div class="col-4 ">
						<input type="submit" value="Update" class="btn btn-success">

					</div>
				</div>


			</form>

			<div class="card-footer text-white text-center" style="background-color: #7a2048;">
			</div>
		</div>
	</div>
	</div>
</body>
</html>