<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

	<div th:insert="fragments/commonui :: userhead "></div>
	<div th:insert="fragments/commonui :: usermenu "></div>


	<div class="container">
		<div class="card">
			<div class="card-header text-white text-center" style="background-color: #1E90FF;">
				<h3>Welcome To ShipmentData Page</h3>
			</div>

			<div class="body">
				<table class="table table-striped">
					<tr class="text-center" style="background-color: #32CD32;">
						<th>SHIPMENT ID</th>
						<th>SHIPMENT MODE</th>
						<th>SHIPMENT CODE</th>
						<th>SHIPMENT ENABLE</th>
						<th>SHIPMENT GRADE</th>
						<!-- <th>DESCRIPTION</th> -->
						<th colspan="3">OPERATION</th>
					</tr>
					<tr class="text-center" th:each="ob: ${list}">
						<td th:text="${ob.ship_id}"></td>
						<td th:text="${ob.shipment_Mode}"></td>
						<td th:text="${ob.shipment_Code}"></td>
						<td th:text="${ob.enb_Shipment}"></td>
						<td th:text="${ob.shipment_Grade}"></td>
						<!-- <td th:text="${ob.discription}"></td> -->
						<td><a class="btn btn-danger text-white"
							th:href="@{/shipment/delete/{id}(id=${ob.ship_id})}">DELETE</a></td>
						<td><a class="btn btn-info text-white"
							th:href="@{/shipment/edit/{id}(id=${ob.ship_id})}">EDIT</a></td>
						<td><a class="btn btn-success text-white"
							th:href="@{/shipment/view/{id}(id=${ob.ship_id})}">VIEW</a></td>
					</tr>
				</table>
			</div>

			<div class="card-footer text-white text-center" style="background-color: #7a2048;">
				<div class="text-right">
					<a class="text-white text-right" th:href="@{/shipment/excel}"><img
						th:src="@{/images/excel.png}" width="60" height="40"></a> &nbsp;
					<a class="text-white text-right" th:href="@{/shipment/pdf}"><img
						th:src="@{/images/pdf.jpg}" width="60" height="40"></a>
				</div>
				<span th:text="${msg}"></span>

			</div>
		</div>
	</div>
</body>
</html>