<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

	<div class="container">

		<div class="card-header text-white bg-info text-center">
			<h3>Welcome To UOM Data Page</h3>
		</div>

		<div class="body">
			<table class="table table-striped">
				<tr class="text-center bg-warning">
					<th>UOM ID</th>
					<th>UOM TYPE</th>
					<th>UOM MODEL</th>
					<th>DESCRIPTION</th>
					<th colspan="2">OPERATION</th>
				</tr>
				<tr class="text-center" th:each="ob: ${list}">
					<td th:text="${ob.uom_Id}"></td>
					<td th:text="${ob.uom_Type}"></td>
					<td th:text="${ob.uom_Model}"></td>
					<td th:text="${ob.description}"></td>
					<td><a class="btn btn-danger text-white"
						th:href="@{/uom/delete/{id}(id=${ob.uom_Id})}">DELETE</a></td>
					<td><a class="btn btn-info text-white"
						th:href="@{/uom/edit/{id}(id=${ob.uom_Id})}">EDIT</a></td>
				</tr>
			</table>
		</div>

		<div class="card-footer text-white text-center bg-secondary">
			<span th:text="${msg}"></span>
		</div>

	</div>
</body>
</html>









