<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<div th:insert="fragments/commonui :: userhead "></div>
	<div th:insert="fragments/commonui :: usermenu "></div>
	<script type="text/javascript" th:src="@{/js/uom.js}"></script>

	<div class="container">
		<div class="card">
			<div class="card-header text-white text-center" style="background-color: #1E90FF;">
				<h3>Welcome To UOM Edit Page</h3>
			</div>

			<div class="card-body ">
				<form id="uom" th:action="@{/uom/update}" method="post"
					th:object="${uom}">


					<!-- Row-1 -->
					<div class="row">
						<div class="col-4 ">
							<label for="uom_id">UOM ID</label>
						</div>
						<div class="col-4 ">
							<input type="text" th:field="*{uom_Id}" readonly="readonly"
								class="form-control" />
						</div>
						<div class="col-4">
							<span id="uomIdError"></span>
						</div>
					</div>


					<!-- Row-2 -->
					<div class="row">
						<div class="col-4">
							<label for="">UOM TYPE</label>
						</div>
						<div class="col-4">
							<select th:field="*{uom_Type}" class="form-control">
								<option value="">--SELECT--</option>
								<option value="packing">PACKING</option>
								<option value="no-packing">NO-PACKING</option>
								<option value="na">NA</option>
							</select>
						</div>
						<div class="col-4">
							<span id="uomTypeError"></span>
						</div>
					</div>


					<!-- Row-3 -->
					<div class="row">
						<div class="col-4">
							<label for="">UOM MODEL</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{uom_Model}" class="form-control">
						</div>
						<div class="col-4">
							<span id="uomModelError"></span>
						</div>
					</div>


					<!-- Row-4 -->
					<div class="row">
						<div class="col-4">
							<label for="">DESCRIPTION</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="descriptionError"></span>
						</div>
					</div>


					<div class="row">
						<div class="col-4"></div>
						<div class="col-4">
							<input type="submit" value="Update" class="btn btn-success">
						</div>
					</div>
				</form>
			</div>

			<div class="card-footer  text-white text-center" style="background-color: #7a2048;">
				<span th:text="${msg}"></span>
			</div>
		</div>
		</div>
</body>
</html>