<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

	<div class="container">

		<div class="card-header bg-info text-white text-center">
			<h3>Welcome To UOM Edit Page</h3>
		</div>

		<div class="card-body ">
			<form th:action="@{/uom/update}" method="post" th:object="${uom}">

				<div class="row">
					<div class="col-4 ">
						<label for="uom_id">UOM ID</label>
					</div>
					<div class="col-4 ">
						<input type="text" th:field="*{uom_Id}" readonly="readonly"
							class="form-control" />
					</div>
				</div>


				<div class="row">
					<div class="col-4">
						<label for="">UOM TYPE</label>
					</div>
					<div class="col-4">
						<select th:field="*{uom_Type}" class="form-control">
							<option value="">--SELECT--</option>
							<option value="packing">PACKING</option>
							<option value="no-packing">NO-PACKING</option>
							<option value="na">NA</option>
						</select>
					</div>
				</div>


				<div class="row">
					<div class="col-4">
						<label for="">UOM MODEL</label>
					</div>
					<div class="col-4">
						<input type="text" th:field="*{uom_Model}" class="form-control">
					</div>
				</div>


				<div class="row">
					<div class="col-4">
						<label for="">DESCRIPTION</label>
					</div>
					<div class="col-4">
						<textarea th:field="*{description}" class="form-control"></textarea>
					</div>
				</div>


				<div class="row">
					<div class="col-4"></div>
					<div class="col-4">
						<input type="submit" value="Update" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer bg-secondary text-white text-center">
			<span th:text="${msg}"></span>
		</div>
	</div>
</body>
</html>