<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
	<div th:insert="fragments/commonui :: userhead "></div>
	<div th:insert="fragments/commonui :: usermenu "></div>
	<script type="text/javascript" th:src="@{/js/whUserType.js}"></script>

	<div class="container">
		<div class="card">

			<div class="card-header text-white text-center" style="background-color: #1E90FF;">
				<h3>Welcome To WhUserType Registration Page</h3>
			</div>

			<div class="card-body">
				<form id="whuser" th:action="@{/whuser/update}" method="post"
					th:object="${whuser}">


					<!-- Row 1 -->
					<div class="row">
						<div class="col-4 ">
							<label for="user_Code">USER ID</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{user_Type_Id}" readonly="readonly"
								class="form-control" />
						</div>
						<div class="col-4"></div>
					</div>


					<!-- Row 2 -->
					<div class="row">
						<div class="col-4 ">
							<label for="user_type">USER TYPE</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{user_type}" value="vendor">VENDOR
							<input type="radio" th:field="*{user_type}" value="customer">CUSTOMER
						</div>
						<div class="col-4">
							<span id="userTypeError"></span>
						</div>
					</div>


					<!-- Row 3 -->
					<div class="row">
						<div class="col-4 ">
							<label for="user_Code">USER CODE</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{user_Code}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="userCodeError"></span>
						</div>
					</div>

					<!-- Row 4 -->
					<div class="row">
						<div class="col-4 ">
							<label for="user_For">USER FOR</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{user_For}" class="form-control"
								readOnly="readonly" />
						</div>
						<div class="col-4"></div>
					</div>

					<!-- Row 5 -->
					<div class="row">
						<div class="col-4 ">
							<label for="user_Email">USER EMAIL</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{user_Email}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="userEmailError"></span>
						</div>
					</div>

					<!-- Row 6 -->
					<div class="row">
						<div class="col-4 ">
							<label for="user_Contact">USER CONTACT</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{user_Contact}"
								class="form-control" />
						</div>
						<div class="col-4">
							<span id="userContectError"></span>
						</div>
					</div>


					<!-- Row 7 -->
					<div class="row">
						<div class="col-4 ">
							<label for="user_id_type">USERID TYPE </label>
						</div>
						<div class="col-4">
							<select th:field="*{user_id_type}" class="form-control">
								<option value="">--SELECT--</option>
								<option value="pancard">PAN CARD</option>
								<option value="aadhar">AADHAR</option>
								<option value="voterid">VOTER ID</option>
								<option value="other">OTHER</option>
							</select>
						</div>
						<div class="col-4">
							<span id="idTypeError"></span>
						</div>
					</div>


					<!-- Row 7 -->
					<div class="row">
						<div class="col-4 ">
							<label for="other_id">IF OTHER</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{other_id}" class="form-control" />
						</div>
						<div class="col-4"></div>
					</div>

					<!-- Row 8 -->
					<div class="row">
						<div class="col-4 ">
							<label for="id_Number">ID NUMBER</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{id_Number}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="idNumError"></span>
						</div>
					</div>


					<br>
					<div class="row">
						<div class="col-4"></div>
						<div class="col-4 ">
							<input type="submit" value="Update" class="btn btn-success">


						</div>
					</div>


				</form>
			</div>

				<div class="card-footer text-white text-center" style="background-color: #7a2048;">

				</div>
		</div>
	</div>
</body>
</html>